<h1>All Maps</h1>

<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>


<table class="grids-table">
  <thead>
  <tr>
<!--    <th>Grid ID</th>-->
    <th>Name</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @grids.each do |grid| %>
    <tr>
      <td><%= grid.name %></td>
      <td>
        <%= link_to 'View', grid_path(grid) %>
        <%= button_to 'Go', go_to_grid_path(grid), method: :patch %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<!-- Add some stylesheet -->
<!--<style>-->
<!--    .grids-table {-->
<!--        width: 100%;-->
<!--        border-collapse: collapse;-->
<!--    }-->

<!--    .grids-table th, .grids-table td {-->
<!--        border: 1px solid #ccc;-->
<!--        padding: 8px;-->
<!--        text-align: left;-->
<!--    }-->

<!--    .create-button {-->
<!--        display: inline-block;-->
<!--        margin-bottom: 20px;-->
<!--        padding: 10px 15px;-->
<!--        background-color: #007bff;-->
<!--        color: white;-->
<!--        text-decoration: none;-->
<!--        border-radius: 4px;-->
<!--    }-->

<!--    .create-button:hover {-->
<!--        background-color: #0056b3;-->
<!--    }-->
<!--</style>-->
