<h1><%= @grid.name %></h1>

<div data-controller="grid" data-grid-size="<%= @visibility %>">
  <div class="grid-container">
    <% @grid_matrix.each do |row| %>
      <div class="grid-row">
        <% row.each do |cell| %>
          <% css_class = cell.cell_loc == 'R0C0' ? 'grid-cell safe-zone' : 'grid-cell' %>
          <div class="<%= css_class %>"
               data-action="click->grid#showDetails"
               data-cell-id="<%= cell.id %>">
            <%= cell.cell_loc %>
            <% if @character && @character.cell_id == cell.cell_id %>
              <div class="character" data-character-id="<%= @character.id %>" >
                <%= @character.character_name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @visibility < Grid::GRID_SIZE %>
    <%= button_to 'Expand (costs 10 shards)', expand_grid_path(@grid), method: :patch, class: 'expand-button' %>
  <% else %>
    <p>Maximum grid size reached.</p>
  <% end %>

  <div id="cell-details" data-grid-target="details">
    <h2>Cell Details</h2>
    <div>
      Select a cell to see the details! Use Keyboard to move your character!
    </div>
  </div>
</div>
