<div data-controller="grid">
  <div class="grid-container">
    <div id="character-stats">
      <h2>
        <%= @character.character_name %> - Lv <%= @character.level %>
      </h2>
      <p><strong>HP:</strong> <%= @character.current_hp %> / <%= @character.max_hp %></p>
      <p><strong>EXP:</strong> <%= @character.current_exp %> / <%= @character.exp_to_level %></p>
      <p><strong>Shards:</strong> <%= @user.shard_balance %></p>

      <div class="equipped-item">
        <%= image_tag(@weapon.icon, class: 'equipped-item-icon') %>
        <div class="item-details">
          <p class="item-name"><%= @weapon.name %></p>
          <p class="item-stat">ATK: <%= @weapon.atk_bonus %></p>
        </div>
      </div>

      <div class="equipped-item">
        <%= image_tag(@armor.icon, class: 'equipped-item-icon') %>
        <div class="item-details">
          <p class="item-name"><%= @armor.name %></p>
          <p class="item-stat">DEF: <%= @armor.def_bonus %></p>
        </div>
      </div>

    </div>

    <div class="grid">
      <% @grid_matrix.each do |row| %>
        <div class="grid-row">
          <% row.each do |cell| %>
            <% css_class = cell.cell_loc == 'R0C0' ? 'grid-cell safe-zone' : 'grid-cell' %>
            <div class="<%= css_class %>"
                 data-action="click->grid#showDetails"
                 data-cell-id="<%= cell.id %>">
              <%= cell.cell_loc %>
              <% if @character && @character.cell_id == cell.cell_id %>
                <div class="character" data-character-id="<%= @character.id %>" >
                  <%= @character.character_name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="cell-details" data-grid-target="details">
      <h2>Cell Details</h2>
      <div>Select a cell to see the details!</div>
    </div>
  </div>

</div>
