<h1>Buy Shards</h1>
<h3>Shards are 1:1 backed by US Dollar. </h3>

<%= form_with url: process_payment_user_path(@user.username), method: :post, local: true do |f| %>
  <div>
    <%= f.label :amount, "Enter Amount" %><br>
    <%= f.number_field :amount, step: 0.01, min: 0 %><br><br>

    <%= f.label :currency, "Select Currency" %><br>
    <%= f.select :currency, @currencies, include_blank: 'Select Currency' %><br><br>
  </div>

  <p>Estimated Shards: <span id="shards">0</span></p>

  <h3>Credit Card Information</h3>
  <div>
    <%= f.label :cc_number, "Credit Card Number" %><br>
    <%= f.text_field :cc_number %><br>

    <%= f.label :cc_expiration, "Expiration Date (MM/YY)" %><br>
    <%= f.text_field :cc_expiration %><br>

    <%= f.label :cc_cvv, "CVV" %><br>
    <%= f.text_field :cc_cvv %><br>
  </div>

  <%= f.submit 'Pay' %>
<% end %>

<script>
    var exchangeRates = <%= @exchange_rates.to_json.html_safe %>;
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var amountField = document.querySelector('#amount');
        var currencyField = document.querySelector('#currency');
        var shardsDisplay = document.getElementById('shards');

        function updateShards() {
            var amount = parseFloat(amountField.value) || 0;
            var currency = currencyField.value;

            if (currency) {
                var rate = exchangeRates[currency] || 1.0;
                var amountInUSD = amount / rate;
                var estimatedShards = Math.floor(amountInUSD); // Round down to nearest integer
                shardsDisplay.innerText = estimatedShards;
            } else {
                shardsDisplay.innerText = '0';
            }
        }

        amountField.addEventListener('input', updateShards);
        currencyField.addEventListener('change', updateShards);
    });
</script>