<div class="profile">
<h1>Hello <%= @user.username %>!</h1>

  <% if @character.present? %>
    <p>Current balance: <%= @character.shard_balance %> shards</p>
    <%= link_to 'Buy more shards', buy_shards_user_path(@user.username), class: 'buy-shards' %>
  <% else %>
    <p>You don't have a character yet. Please create one!</p>
    <%= link_to 'Create Character', new_character_path, class: 'create-character-button' %>
  <% end %>

<%= button_to 'Delete account', user_path(@user.username), method: :delete %>
</div>